body
{
    padding: 0px;
    margin: 0px;
    font-family: "Alata", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: white;
}
.interface
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 550px;
    background-color: #040e27;
 }

.navBar
{
    width: 100%;
    height: 80px;
    padding-top: 20px;
    top: 0;
    z-index: 99;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #040e27;
    
}
.header-area
{
    padding: 30px;
    font-size: 25px;
    padding-left: 100px;
}
.header-area a
{
    text-decoration: none;
    color: white;
}
.header-links
{
    display: inline-block; 
    padding-left: 600px;
    font-size: 15px;  
    font-weight: 400;
}
.header-links a
{
    padding-left: 30px;
}
.interface-content
{
    width: 80%;
    height: 50%;
    margin: auto;
}
.interface-content h1
{
    text-align: center;
    font-size: 160px;
    font-family: poppins, sans-serif;
    font-weight: 800;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    opacity: 0.2;
}
.interface-content p
{
    position: relative;
    top: 240px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: #0181F5;
    font-family: "Alata", sans-serif;
}
.paragraph
{
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
.paragraph p
{
    font-size: 50px;
    color: white;
}

.images
{
    width: 100%;
    height: 1200px;
}
.subImages
{
    width: 100%;
    height: 400px;
}
.image1
{
    width: 33.33333333333333%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.image1 img
{
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: 1s all;
}
.text p
{
    font-size: 30px;
    color: white;
    padding-left: 50px;
}
.text h4
{
    color: #B3D9FC;
    padding-left: 80px;
    padding-top: 80px;
}
.round
{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -400px;
    left: -400px;
    background-color: #007bff;
    border-radius: 50%;
    transition: 0.7s;
}

.image1:hover img
{
    transform: scale(1);
}

.image1:hover .round
{
    bottom: -40px;
    left: -40px;
}

.sentence-parent
{
    width: 100%;
    height: 80px;
    background-color: #040e27;
}

.sentence
{
    width: 20%;
    height: 1%;
    text-align: center;
    margin-left: 550px;
    padding-top: 30px;
}

.sentence a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.paragraphs
{
    width: 100%;
    height: 400px;
    background-color: white;
}
.content
{
    width: 100%;
    height: 100%;
}
.content h1
{
    font-size: 160px;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    font-weight: 800;
    font-family: poppins, sans-serif;
    -webkit-text-stroke: 0.2px #1E273D;
    -webkit-text-fill-color: transparent;
}
.holdModels
{
    width: 100%;
    height: 100%;
}
.model
{
    margin-left: 150px;
    width: 20%;
    height: 20%;
    float: left;
}
.model p
{
    color: gray;
}

.Blog
{
    width: 100%;
    height: 300px;
    background-color: #007bff;
    box-sizing: border-box;
    position: relative;
}
.sent
{
    width: 40%;
    height: 70%;
    position: absolute;
    margin-top: 20px;
    margin-left: 260px;
    box-sizing: border-box;
}
.sent h1
{
    color: white;
    padding: 20px;
    margin: auto;
    font-size: 150px;
    -webkit-text-stroke: 0.5px #1E273D;
    -webkit-text-fill-color: transparent;
}
.blogParagraph
{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 180px;
    left: 150px;
}
.blogParagraph p
{
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-family: "Alata", sans-serif;
    display: inline-block;
}

.blogParagraph a
{
    text-align: center;
    background-color: transparent;
    margin-left: 600px;
    transition: 0.3s;
    font-family: "Alata", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid white;
    text-decoration: none;
    color: black;
    padding: 30px;
}


.blogParagraph:hover a
{
    color: #0181F5;
    background-color: white;
}
.selectImage
{
    width: 80%;
    height: 300px;
    background-color: black;
    margin: auto;
    position: relative;
}
.background-1
{
    width: 100%;
    height: 100%;
    background-color: #007bff;
    box-sizing: border-box;
}

.img1
{
    width: 47%;
    height: 100%;
    background-color: burlywood;
    float: left;
}

.img1 img
{
    width: 100%;
    height: 100%;
}


.img2
{
    width: 47%;
    height: 100%;
    background-color: burlywood;
    float: right;
}

.img2 img
{
    width: 100%;
    height: 100%;
}

.select
{
    width: 100%;
    height: 200px;
}

.background-2
{
    width: 100%;
    height: 100%;
    background-color: #040e27;
}

.img3
{
    width: 40%;
    height: 100%;
   float: left;
   box-sizing: border-box;
   position: relative;
   overflow: hidden;
}

.img3Data
{
    width: 70%;
    height: 60%;
    padding: 20px;
    position: absolute;
    left: 130px;
}

.img3Data a
{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 10px;
}

.img3Data img
{
    padding-top: 10px;
    display: inline-block;
}

.img4
{
    width: 40%;
    height: 100%;
    float: right;
    position: relative;
   overflow: hidden;
}

.img4Data
{
    width: 70%;
    height: 60%;
    padding: 20px;
    position: absolute;

}

.img4Data a
{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 10px;
}

.img4Data img
{
    padding-top: 10px;
    display: inline-block;
}
.testimonial
{
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    position: relative;
}
.theContent
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.theContent h1
{
    font-size: 150px;
    text-align: center;
    -webkit-text-stroke: 1px #EFEFF1;
    -webkit-text-fill-color: transparent;
    font-family: "Alata", sans-serif;
}
.theContent img
{
    position: absolute;
    top: 250px;
    left: 600px;
}
.theParagraph
{
    width: 34%;
    margin-left: 450px;
}

.theParagraph p
{
    text-align: center!important;
    font-size: 24px;
}
.data
{
    margin-top: 80px;
    margin-left: 580px;
}
.data h3
{
    margin-left: 5px;
    color: #0181F5;
    font-size: 18px;
    font-weight: 400;
    font-family: "Alata", sans-serif;
}
.data h4
{
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #818692;
    font-family: "Alata", sans-serif;
}
.talk
{
    width: 100%;
    height: 500px;
    background-color: #0181F5;
    position: relative;
}
.talkContent
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.talkContent h1
{
    font-size: 150px;
    -webkit-text-stroke: 0.5px #EFEFF1;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
}
.talkContent p
{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    top: 90px;
    left: 300px;
}
.talkContent a
{
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 1px solid white;
    position: absolute;
    top: 270px;
    left: 600px;
    text-align: center;
    transition: 1s;
}
.talkContent:hover a
{
    color: #0181F5;
    background-color: white;
}
.footer
{
    width: 100%;
    height: 600px;
    background-color: #040e27;
    position: relative;   
}

.footerData
{
    width: 25%;
    height: 80%;
    float: left;
}

.footerData h3
{
    color: white;
    font-size: 20px;
    padding: 90px;
}
.footerDataLink
{
    margin-left: 90px;
}
.footerDataLink  a
{
    font-size: 17px;
    text-decoration: none;
    color: grey;
    display: block;
    padding-top: 30px;
}

.footerDataLink:hover a
{
    color: white;
}