body
{
    padding: 0px;
    margin: 0px;
    font-family: "Alata", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #021c38;
}
.interface
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 550px;
 }

.navBar
{
    width: 100%;
    height: 80px;
    padding-top: 20px;
    top: 0;
    z-index: 99;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #021c38;
    
}
.header-area
{
    padding: 30px;
    font-size: 25px;
    padding-left: 100px;
}
.header-area a
{
    text-decoration: none;
    color: white;
}
.header-links
{
    display: inline-block; 
    padding-left: 600px;
    font-size: 15px;  
    font-weight: 400;
}
.header-links a
{
    padding-left: 30px;
}
.interface-content
{
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 130px;
}
.interface-content h1
{
    text-align: center;
    font-size: 160px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1;
    color: white;
    opacity: 0.05;
}
.interface-content p
{
    position: relative;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    font-size: 30px;
    color: #0181F5;
    font-family: "Alata", sans-serif;
}
.paragraph
{
    width: 100%;
    height: 200px;
    margin-top: 60px;
}
.paragraph p
{
    font-size: 50px;
    color: white;
}

.images
{
    width: 100%;
    height: 1200px;
}
.subImages
{
    width: 100%;
    height: 400px;
}
.image1
{
    width: 33.33333333333333%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.image1 img
{
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: 1s all;
}
.text p
{
    font-size: 30px;
    color: white;
    padding-left: 50px;
}
.text h4
{
    color: #B3D9FC;
    padding-left: 80px;
    padding-top: 80px;
}
.round
{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -400px;
    left: -400px;
    background-color: #007bff;
    border-radius: 50%;
    transition: 1s;
}

.image1:hover img
{
    transform: scale(1);
}

.image1:hover .round
{
    bottom: -40px;
    left: -40px;
}

.sentence-parent
{
    width: 100%;
    height: 60px;
}

.sentence
{
    width: 20%;
    height: 50%;
    text-align: center;
    margin-left: 550px;
    margin-top: 30px;
}

.sentence a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
}